@tailwind base;
@tailwind components;
@tailwind utilities;

/* (Optional) Your own custom styles */
@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .btn-primary {
    @apply px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700;
  }
}